@page "/Trabajos/Index"
@inject TrabajosService TrabajosService
@rendermode InteractiveServer

<PageTitle>Consulta Trabajos</PageTitle>

<EditForm Model="ListaTrabajos" class="border shadow-lg p-3 rounded">
    <Toasts class="p-3" Messages="messages" Placement="ToastsPlacement.TopRight" />

    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta Trabajos</h3>
    </div>
    <div class="card-body">

        @*Filtro*@
        <div class="row mb-3 align-items-end">
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="id">ID</option>
                    <option value="Clientes">Cliente</option>
                </select>
            </div>
            @*Boton buscar*@
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>
            @*Boton crear*@
            <div class="col-md-3 text-end">
                <a href="/Trabajos/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>
    @*Tabla tecnicos*@
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>TrabajoID</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Tecnico</th>
                <th>Descripcion</th>
                <th>Monto</th>
                <th>Prioridad</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trabajos in ListaTrabajos)
            {
                <tr>
                    <td>@trabajos.TrabajosID</td>
                    <td>@trabajos.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@trabajos.clientes?.Nombre</td>
                    <td>@trabajos.tecnicos?.Nombre</td>
                    <td>@trabajos.Descripcion</td>
                    <td>@trabajos.Monto</td>
                    <td>@trabajos.prioridades?.Descripcion</td>
                    <td>
                        <a class="btn btn-outline-primary" href="/Trabajos/Details/@trabajos.TrabajosID">
                            <span class="bi bi-eye"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="/Trabajos/Edit/@trabajos.TrabajosID">
                            <span class="bi bi-marker-tip"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" href="/Trabajos/Delete/@trabajos.TrabajosID">
                            <span style="color: red;" class="bi bi-trash3"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>

@code {
    public Trabajos trabajos = new Trabajos();
    public List<Trabajos> ListaTrabajos = new List<Trabajos>();
    List<ToastMessage> messages = new List<ToastMessage>();

    private string filtro = "Id";
    private string valorFiltro = "";

    private void ShowMessage(ToastType toastType) => messages.Add(CreateToastMessage(toastType));

    private ToastMessage CreateToastMessage(ToastType toastType)
      => new ToastMessage
          {
              Type = toastType,
              Title = "Blazor Bootstrap",
              HelpText = $"{DateTime.Now}",
              Message = $"Hello, world! This is a toast message. DateTime: {DateTime.Now}",
          };

    protected override async Task OnInitializedAsync()
    {
        ListaTrabajos = TrabajosService.Listar(c => true);
    }


    private async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int trabajosID))
            {
                ListaTrabajos = TrabajosService.Listar(T => T.TrabajosID == trabajosID);
            }
            else if (filtro == "Clientes")
            {
                ListaTrabajos = TrabajosService.Listar(T => T.clientes != null && T.clientes.Nombre == valorFiltro);
            }            
            else
            {
            ListaTrabajos = TrabajosService.Listar(T => true);
            }
        }
  }
}